<!doctype html>
<html>
    <head>
        <title> 
           stock app! 
        </title>
    </head>
    <body>
        <ul>
            {% for stock, attr in json.iteritems() %}
                <li>

                < ! --         {{ stock }} - {{attr.price}} <div style="display: inline-block; width: 10px; height: 10px; border-radius: 5px; background-color: {% if attr.change == 'u' %} green  {% else %} red {% endif %}"></div> -->

                </li>
                
            {% endfor %}
        </ul>
    </body>
</html>
