<!doctype html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
        <title> 
           stock app! 
        </title>
        {% endblock %}
    </head>
    <body>
        <ul>
            {% for stock, attr in json.iteritems() %}
                <li>

                {{ stock }} - {{attr.price}} <div style="display: inline-block; width: 10px; height: 10px; border-radius: 5px; background-color: {% if attr.change == 'u' %} green  {% else %} red {% endif %}"></div> 

                </li>
                
            {% endfor %}
        </ul>
        <p style="padding: 30px 15px 0px 15px">
            Hey all, this is my first website that uses dynamic data! Meaning the data changes over time, if you refresh the page, I would expect that the stock price would change. The data is 
            scraped from my TradeKing stock broker API. The stock tags that you see are stocks in my portfolio ( I will not disclose what position [call or put] I hold on each       stock) The site, as of now, displays the name of the stock, the current price, and if it is up or down for the day.
        
        </p>
    </body>
</html>
